@import "tailwindcss";

@theme {
  --color-card: oklch(100% 0 0);
  --color-card-foreground: oklch(9.8% 0 0);
  --color-muted: oklch(96.1% 0 0);
  --color-muted-foreground: oklch(45.1% 0 0);
  --color-border: oklch(89.8% 0 0);
  --color-background: oklch(100% 0 0);
}

@media (prefers-color-scheme: dark) {
  @theme {
    --color-card: oklch(15% 0 0);
    --color-card-foreground: oklch(98% 0 0);
    --color-muted: oklch(15% 0 0);
    --color-muted-foreground: oklch(63.9% 0 0);
    --color-border: oklch(27.2% 0 0);
    --color-background: oklch(20% 0 0);
  }
}
